header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 30px;
    margin: 0;

    img {

    }
}

nav {
    margin: 0;
    padding: 0;

    ul {
        margin: 0;
        padding: 0;

        li {
            padding: 55px 30px;
            list-style-type: none;
            display: inline-block;
            margin: 0 0;

            a {
                text-decoration: none;
                color: $special-text-color;
                font-family: $main-font;
                font-weight: bold;
                font-size: $nav-items-size;
                text-transform: uppercase;
            }
        }

        li:last-child {
            margin-right: 0;
        }

        li:hover {
            background: #005689;
            
            a {
                color: #fff;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    
    .copy {
        color: $special-text-color;
        font-family: $main-font;
    }

    .social {

        i {
            font-size: 1.4rem;
            margin: 0 8px;
            color: $special-text-color;
        }

        .fa-facebook-f:hover {
            color: #3b5998;
        }

        .fa-twitter:hover {
            color: #38A1F3;
        }

        .fa-instagram:hover {
            color: #8134AF;
        }

        .fa-linkedin-in:hover {
            color: #0077B5;
        }
    }
}